<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Arshad Ayub's Data Engineering Portfolio. Showcasing expertise in data pipelines, machine learning, and cloud technologies.">
  <meta name="keywords" content="Data Engineering, Python, SQL, Apache Spark, Kafka, AWS, Snowflake, Airflow, Data Science, Big Data">
  <meta name="author" content="Arshad Ayub">
  <title>Arshad Ayub | Data Engineer</title>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&family=Montserrat:wght@600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
  <link rel="stylesheet" href="styles/styles.css">
</head>
<body>
  <nav>
    <ul>
      <li><a href="#home">Home</a></li>
      <li><a href="#skills">Skills</a></li>
      <li><a href="#portfolio">Projects</a></li>
      <li><a href="#contact">Contact</a></li>
    </ul>
  </nav>
  
  <header id="home">
    <h1>Arshad Ayub</h1>
    <p id="typewriter">Data Engineer</p>
  </header>

  <section id="skills" class="skills">
    <h2>Technical Skills</h2>
    <div class="skills-container">
        <div class="skill-icon" data-description="Python">
            <i class="fab fa-python"></i>
        </div>
        <div class="skill-icon" data-description="SQL">
            <i class="fas fa-database"></i>
        </div>
        <div class="skill-icon" data-description="Apache Spark">
            <i class="fas fa-bolt"></i>
        </div>
        <div class="skill-icon" data-description="Apache Hadoop">
            <i class="fas fa-server"></i>
        </div>
        <div class="skill-icon" data-description="Kafka">
            <i class="fas fa-stream"></i>
        </div>
        <div class="skill-icon" data-description="AWS">
            <i class="fab fa-aws"></i>
        </div>
        <div class="skill-icon" data-description="Tableau">
            <i class="fas fa-chart-bar"></i>
        </div>
        <div class="skill-icon" data-description="Docker">
            <i class="fab fa-docker"></i>
        </div>
        <div class="skill-icon" data-description="ETL Processes">
            <i class="fas fa-sync-alt"></i>
        </div>
        <div class="skill-icon" data-description="Snowflake">
            <i class="fas fa-snowflake"></i>
        </div>
        <div class="skill-icon" data-description="Airflow">
            <i class="fas fa-project-diagram"></i>
        </div>
    </div>
  </section>

  <div class="background-animation">
    <svg width="100%" height="100%" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid slice">
      <line class="grid-line" x1="0" y1="10" x2="100" y2="10"></line>
      <line class="grid-line" x1="0" y1="30" x2="100" y2="30"></line>
      <line class="grid-line" x1="0" y1="50" x2="100" y2="50"></line>
      <line class="grid-line" x1="10" y1="0" x2="10" y2="100"></line>
      <line class="grid-line" x1="30" y1="0" x2="30" y2="100"></line>
      <line class="grid-line" x1="50" y1="0" x2="50" y2="100"></line>
    </svg>
  </div>

  <section id="portfolio">
    <h2>Projects</h2>
    <div class="portfolio-container">
        <figure class="portfolio-item">
            <figcaption>
                <h3><a href="https://github.com/arshadsm/realtimeanalytics" target="_blank">Real-Time Event Analytics - Kafka, PostgreSQL, PowerBI, Python</a></h3>
                <p>Implemented a real-time event analytics system for streaming and processing synthetic clickstream data using Kafka.</p>
            </figcaption>
        </figure>
     
        <figure class="portfolio-item">
            <figcaption>
                <h3><a href="https://github.com/arshadsm/accidentstats" target="_blank">Accident Severity Prediction - Google Cloud (Dataproc, BigQuery)</a></h3>              
                <p>Developed a predictive system using traffic and accident data from the TFL API to forecast accident severity.</p>
            </figcaption>
        </figure>

        <figure class="portfolio-item">
            <figcaption>
                <h3><a href="https://github.com/arshadsm/" target="_blank">Insurance Claims Analytics – SQL, dbt, Snowflake</a></h3>
                <p>Developed a scalable ETL pipeline to analyze NFIP insurance claims data using dbt and Snowflake.</p>                
            </figcaption>
        </figure>
    </div>
  </section>

  <footer class="footer fade-in" id="contact">
    <h2>Contact</h2>
    <p>
      <a href="https://www.linkedin.com/in/arshad-ayub01" target="_blank"><i class="fab fa-linkedin"></i> LinkedIn</a>
      <a href="https://www.github.com/arshadsm" target="_blank"><i class="fab fa-github"></i> GitHub</a>
      <a href="mailto:mahammadarshadas@gmail.com"><i class="fas fa-envelope"></i> Email</a>
    </p>
    <p>&copy; 2024 Arshad Ayub. All rights reserved.</p>
  </footer>

  <script src="js/scripts.js"></script>
</body>
</html>
