/* Reset some basic styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body */
body {
    font-family: 'Roboto', sans-serif;
    color: #E5E5E5;
    background-color: #212F45; /* Dark background */
    line-height: 1.6;
}

/* Typography */
h1, h2, h3 {
    font-family: 'Montserrat', sans-serif;
    color: #E5E5E5;
    margin-bottom: 20px;
}

h1 {
    font-size: 2.5rem;
    font-weight: bold;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

/* Navigation Bar */
nav {
    background: linear-gradient(90deg, #006466, #065A60);
    padding: 20px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #E5E5E5;
    text-decoration: none;
    font-size: 1.2rem;
    padding: 10px 15px;
    transition: background-color 0.3s ease;
}

nav ul li a:hover {
    background-color: #065A60;
    color: #FFF;
}

/* Sections */
section {
    max-width: 1000px;
    margin: 80px auto;
    padding: 40px;
    background-color: #272640;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.intro {
    text-align: center;
    font-size: 1.25rem;
    margin-bottom: 40px;
}

/* About Me */
.about-me {
    display: flex;
    align-items: center;
}

.about-me-text {
    flex: 1;
    margin-right: 20px;
    padding: 20px;
    background-color: #1B3A4B;
    border-radius: 8px;
}

.about-me img {
    flex: 1;
    max-width: 300px;
    border-radius: 8px;
}

/* Portfolio */
.portfolio-item {
    background-color: #312244;
    border-radius: 8px;
    margin: 20px 0;
    overflow: hidden;
    transition: transform 0.3s ease;
}

.portfolio-item:hover {
    transform: scale(1.05);
}

.portfolio-image img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 8px 8px 0 0;
}

.caption {
    padding: 20px;
    text-align: center;
}

/* Footer */
.footer {
    background-color: #4D194D;
    color: #E5E5E5;
    text-align: center;
    padding: 40px 0;
}

.footer a {
    color: #E5E5E5;
    text-decoration: none;
}

.footer a:hover {
    color: #FFFFFF;
}
