/* Typography */
body {
    font-family: 'Roboto', sans-serif;
    color: #E5E5E5;
    background-color: #212F45;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

h1, h2, h3 {
    font-family: 'Montserrat', sans-serif;
    color: #FFFFFF;
    margin-bottom: 10px;
}

p {
    margin-bottom: 20px;
}

/* Navigation Bar */
nav {
    background: #006466;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #E5E5E5;
    text-decoration: none;
    font-size: 1em;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

nav ul li a:hover {
    background-color: #065A60;
    color: #FFFFFF;
}

/* Header Section */
header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #144552;
    color: #FFFFFF;
    text-align: center;
}

header h1 {
    font-size: 3em;
    margin-bottom: 0;
}

header p {
    font-size: 1.5em;
    color: #CCD5AE;
}

/* About Me Section */
.about-me {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 60px 20px;
    background-color: #272640;
}

.about-me-text {
    flex: 1;
    padding: 20px;
    background-color: #144552;
    border-radius: 10px;
    color: #E5E5E5;
}

.about-me img {
    max-width: 300px;
    border-radius: 10px;
    margin-left: 20px;
}

/* Portfolio Section */
.portfolio {
    padding: 60px 20px;
    background-color: #272640;
    display: flex;
    justify-content: center;
}

.portfolio-item {
    max-width: 48%;
    margin: 10px;
    border-radius: 10px;
    overflow: hidden;
    background-color: #212F45;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.portfolio-item img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.portfolio-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.5);
}

.caption {
    padding: 20px;
    text-align: center;
    color: #E5E5E5;
}

/* Footer */
.footer {
    background-color: #1B3A4B;
    padding: 40px 0;
    text-align: center;
    color: #E5E5E5;
}

.footer a {
    color: #E5E5E5;
    text-decoration: none;
}

.footer a:hover {
    color: #FFFFFF;
}
